<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrrun.module_design" >
    <application>
        <activity android:name="com.mrrun.example.MainDesignExampleActivity"></activity>
        <activity android:name="com.mrrun.example.DrawerLayoutActivity"></activity>
        <activity android:name="com.mrrun.example.CDLABLActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name="com.mrrun.example.CDLFABActivity"></activity>
        <activity android:name="com.mrrun.example.ABLCTBLActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name="com.mrrun.example.ABLFABActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>
</manifest>