<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrrun.module_view">

    <application>
        <activity android:name="com.mrrun.example.MainViewExampleActivity"></activity>
        <activity android:name="com.mrrun.example.SearchViewActivity"></activity>
        <activity android:name="com.mrrun.example.DialerActivity"></activity>
        <activity android:name="com.mrrun.example.BubbleFloatViewActivitiy"></activity>
        <activity android:name="com.mrrun.example.AffirmButtonViewActivity"></activity>
        <activity android:name="com.mrrun.example.TagActivity"></activity>
        <activity android:name="com.mrrun.example.WXLoadDialogActivity"></activity>
        <activity android:name="com.mrrun.example.NotificationDialogActivity"></activity>
        <activity android:name="com.mrrun.example.PayPsdInputViewActivity"></activity>
        <activity android:name="com.mrrun.example.ProgressViewActivity"></activity>
        <activity android:name="com.mrrun.example.FlowersLiveLoadingView1Activity"></activity>
        <activity android:name="com.mrrun.example.FlowersLiveLoadingView2Activity"></activity>
        <activity android:name="com.mrrun.example.ColorTrackViewActivity"></activity>
        <activity android:name="com.mrrun.example.QQStepProgressViewActivity"></activity>
        <activity android:name="com.mrrun.example.LineProgressViewActivity"></activity>
        <activity android:name="com.mrrun.example.RatingBarActivity"></activity>
        <activity android:name="com.mrrun.example.AlphabeticIndexViewActivity"></activity>
        <activity android:name="com.mrrun.example.IndexSidebarActivity"></activity>
        <activity android:name="com.mrrun.example.LoadingView58Activity"></activity>
        <activity android:name="com.mrrun.example.DropDownMenuActivity"></activity>
        <activity android:name="com.mrrun.example.ConditionListMenuViewActivity"></activity>
        <activity android:name="com.mrrun.example.LockPatternViewActivity"></activity>
    </application>
</manifest>