<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrrun.module_view">

    <application>
        <activity android:name="com.mrrun.example.ViewExampleActivity"></activity>
        <activity android:name="com.mrrun.example.SearchViewExampleActivity"></activity>
        <activity android:name="com.mrrun.example.DialerExampleActivity"></activity>
        <activity android:name="com.mrrun.example.BubbleFloatViewActivitiy"></activity>
        <activity android:name="com.mrrun.example.AffirmButtonViewActivity"></activity>
        <activity android:name="com.mrrun.example.TagExampleActivity"></activity>
    </application>
</manifest>