<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrrun.module_view">

    <application>
        <activity android:name="com.mrrun.example.MainViewExampleActivity"></activity>
        <activity android:name="com.mrrun.example.SearchViewExampleActivity"></activity>
        <activity android:name="com.mrrun.example.DialerExampleActivity"></activity>
        <activity android:name="com.mrrun.example.BubbleFloatViewActivitiy"></activity>
        <activity android:name="com.mrrun.example.AffirmButtonViewActivity"></activity>
        <activity android:name="com.mrrun.example.TagExampleActivity"></activity>
        <activity android:name="com.mrrun.example.WXLoadDialogActivity"></activity>
        <activity android:name="com.mrrun.example.NotificationDialogActivity"></activity>
        <activity android:name="com.mrrun.example.PayPsdInputViewActivity"></activity>
        <activity android:name="com.mrrun.example.ProgressViewActivity"></activity>
        <activity android:name="com.mrrun.example.FlowersLiveLoadingView1Activity"></activity>
        <activity android:name="com.mrrun.example.FlowersLiveLoadingView2Activity"></activity>
        <activity android:name="com.mrrun.example.ColorTrackViewActivity"></activity>
        <activity android:name="com.mrrun.example.QQStepProgressViewActivity"></activity>
    </application>
</manifest>