<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrrun.module_floatview">

    <application>
        <activity android:name="com.mrrun.example.FloatWindowExampleActivity"></activity>
    </application>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
</manifest>