<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrrun.module_share">

    <application>
        <activity android:name="com.mrrun.example.ShareExampleActivity"></activity>
    </application>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
</manifest>